@model IEnumerable<maqa.controler.AuthorPost>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-family:cairo">بيانات المشاركات</h1>

<p>
    <a asp-action="Create">مشاركة جديدة</a>
</p>
<br />
<form method="get" asp-action="Search">
    <input type="search" name="SearchItem" class="search-field">
    <input type="submit" value="بحث" class="btn-primary">
</form>
<br />
<table class="table table-striped hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posttitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDiscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostImgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddeddDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Posttitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDiscription)
                </td>
                <td>
                    <img src="~/images/@item.PostImgUrl" class="rounded-circle" height="50" width="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddeddDate)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">تعديل</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">تفاصيل</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    if (Model.ToList().Count < 10)
    {
        int Id = 0;
        <a asp-action="Index" asp-route-id="@Id">الصفحة الاولى </a>

    }
    else
    {
        <a asp-action="Index" asp-route-id="@Model.ToList().Last().Id">التالى</a>

    }
}